<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Todo List</title>
</head>
<body>
<div class="container">
    <h2 th:if="${userlist}==null">
        <a href="/users"> no user </a>
    </h2>
    <h2 th:each="user: ${userlist}">
        <!--    <h2 th:if="${user} != null">-->
        <span th:text="${user.name}"></span><span th:text="'  userId:' + ${user.id}"></span>
        <form class="header" th:action="@{/todos}" method="post" th:object="${todoObject}">
            <input type="text" id="input" placeholder="Todo" th:field="*{name}">
            <!--            <input type="text" id="input" placeholder="Priority" th:field="*{priority}">-->
            <select name="priority">
                <option th:each="priorityOpt : ${T(com.example.demo.todo.Priority).values()}"
                        th:value="${priorityOpt}" th:text="${priorityOpt.displayValue}"></option>
            </select>
            <input type="hidden" id="input" name="userName" th:value="${user.name}"/>
            <button type="submit" class="addBtn">Add</button>
        </form>
    </h2>
    <h2 th:if="${userlist}!=null">
        <a href="/"> log out </a>
    </h2>

    <h2 th:if="${userlist}!=null">
        <ul th:each="todo, iStat : ${todolist.content}">
            <li th:onclick="'javascript:updateTodo(event,this,' + ${todo.id} + ')'">
                <span th:text="${todo.name}+','"></span> <span
                    th:text="'  priority:' + ${todo.priority.displayValue}"></span>
                <span th:text="'  status:' + ${todo.done}"></span><span th:text="'  user:' + ${todo.userName}"></span>
                <span class="close" th:onclick="'javascript:deleteTodo(event,this,' + ${todo.id} + ')'">x</span>
            </li>
        </ul>
    </h2>

    <!--        <h2 th:if="${userlist}!=null">-->
    <!--            <li><a href="#">Previous</a></li>-->
    <!--            <li>    <form class="header" th:action="@{/userTodo?page=1}" method="post" th:object="${usersObject}">-->
    <!--                <input type="text" id="input" name="userName" th:value="${user.name}">-->
    <!--                <button type="submit" class="addBtn">Log in</button>-->
    <!--            </form>Next</a></li>-->
    <!--        </h2>-->
    <div th:if="${todolist.totalPages > 0} and ${userlist}!=null" class="pagination"
         th:each="pageNum : ${pageNums}">
        <a th:each="user: ${userlist}">
            <!--        <a th:href="@{/userTodo(page=${pageNums}, size=${todolist.size})}"-->
            <!--           th:text=${pageNum}-->
            <!--           th:class="${pageNum==todolist.number + 1} ? active"></a>-->
            <form class="addBtn" th:action="@{/userTodo(page=0, size=${todolist.size})}" method="post"
                  th:object="${usersObject}">
                <input type="hidden" id="input" name="name" th:value="${user.name}">
                <button type="submit" class="addBtn">1</button>
            </form>
        </a>
        <a th:if="${pageNums}>1" th:each="user: ${userlist}">
            <!--        <a th:href="@{/userTodo(page=${pageNums}, size=${todolist.size})}"-->
            <!--           th:text=${pageNum}-->
            <!--           th:class="${pageNum==todolist.number + 1} ? active"></a>-->
            <form class="addBtn" th:action="@{/userTodo(page=1, size=${todolist.size})}" method="post"
                  th:object="${usersObject}">
                <input type="hidden" id="input" name="name" th:value="${user.name}">
                <button type="submit" class="addBtn">2</button>
            </form>
        </a>
    </div>
</div>
<script>
    const updateTodo = (event, element, id) => {
        console.log(id)
        event.stopPropagation();
        fetch('todos/' + id, {
            method: 'put',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(function (response) {
        })
        location.reload();
    }
    const deleteTodo = (event, element, id) => {
        console.log(id);
        event.stopPropagation();
        fetch('todos/' + id, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(function (response) {
            element.parentNode.parentNode.parentNode.removeChild(element.parentNode.parentNode);
        })
    }
</script>
</body>
</html>